<!--
Free NavBar templates online: https://freefrontend.com/css-menu/
  DROPDOWN MENU
-->
<!-- Gives navbar the navbar property-->
<div class="navbar">
    <nav class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'Forum:topics' %}">Forum</a>
            <li><a href="{% url 'Forum:inbox' %}">Inbox</a>
            <li><a href="{% url 'Forum:get_profile' %}">Profile</a>
            <li><a href="{% url 'Forum:friends' %}">Friends</a>
            <li><a href="{% url 'Forum:register' %}">Register</a>
            <li><a href="{% url 'Forum:about' %}">About</a>
        </ul>
        <!--  JQuery and JS Runtime Include -->
        <!-- These two script tags fir the JQuery librsry snd the Navbar.js were placed here so that they
        will populate into the body section of a web page that references this navbar.html inclusion.
        It is necessary to make the rollover functionality behave during runtime.
        -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/static/js/navbar.js"></script>
        <!--  END JQuery and JS Runtime Include -->
    </nav>
</div>

