

/* The main level container for the Forum */
.forum-container
{
    display: grid;
    grid-template-rows: 3fr 10fr 1fr;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-areas:
        "navbar navbar navbar"
        "lside main rside"
        "footer footer footer";
    grid-gap: .50em;
}

.main 
{
    grid-area:main;
}

.navbar
{
    grid-area: navbar;
}

.main 
{
    grid-area: main;
    grid-gap: .50em;
}

/* A panel layout for use inside the forum container */
.forum-panel
{
    display: grid;
    grid-template-rows: repeat(12, 1fr); /* 1 row for the top of the message panel. 10 rows in the middle, one row for the bottom.*/
    grid-template-columns: 2fr 10fr 3fr;
}


.login 
{
    grid-area: main;
}
