/*Collapsed Navbar Text Font*/
#collapsed-link-hours {
    font-family: "Helvetica Neue";
}
#collapsed-link-schedule {
    font-family: "Helvetica Neue";
}
#collapsed-link-contact {
    font-family: "Helvetica Neue";
}
#collapsed-link-request {
    font-family: "Helvetica Neue";
}
#collapsed-link-request-admin {
    font-family: "Helvetica Neue";
}
#collapsed-link-schedule-admin {
    font-family: "Helvetica Neue";
}
#collapsed-link-employee-admin {
    font-family: "Helvetica Neue";
}